#app{
	width:70%;
	max-width: 620px;
	margin: 30px auto;
	ul{
		list-style: none;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		padding-left: 0;
	}
	ul>li{
		overflow: hidden;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		        flex: 1;
	}
	ul>li:nth-child(2n+2){
		margin-left: 10px;
		margin-right: 10px;
	}
	ul>li>img{
		width:200px;
		height: 200px;
	}
}
